.main-select {
    background-image: linear-gradient(to bottom, #00051b, #12404a);
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #fff;
    width: 100%;
   
}

.content-select {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: auto; 
    max-width: 1200px; 
    
}

.dropdown-container select {
    background-color: #587171;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    display: block; 
}
